.header-bg {
    background-image: url('./images/take-taxi.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}



footer p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* calculator */
.boosting-calculator-wide {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 500px; /* Adjust width as needed */
    text-align: center;
}

.calculator-form-wide {
    display: flex;
    flex-direction: column;
}

.dropdown-container-wide {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    border-radius: 10px; /* Make dropdowns bigger */
}

.btn-primary {
    width: fit-content; /* Make button smaller */
    margin-top: 15px;
}

.calculator-result {
    margin-top: 20px;
}

.result-text {
    font-weight: bold;
    font-size: 18px;
}


.header-bg {
    position: relative;
}

.header-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha for transparency */
    z-index: 1; /* Ensure overlay is above the background but below the text */
}

.header-bg .container {
    position: relative; /* Position relative to stack above the overlay */
    z-index: 2; /* Ensure text is above the overlay */
}